body {
    background-color: rgb(229, 229, 241);
}

#home {
   background-image: url(../assets/backgrounds/h_img.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
   text-align: center;
   height: 800px;
}
#welcome {
    padding-top: 300px;
}

#welcome_text {
    font-size: 60px;
}
#amazing {
    font-size: 20px;
}

#about {
    text-align: center;
}
#about_text {
    padding-top: 100px;
    padding-bottom: 100px;
}
#services {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 400px;
}
#services_text {
    padding-top: 100px;
    padding-bottom: 100px;
}
#social {
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
}
#contact_us {
    background-image: url(../assets/backgrounds/c_image.jpg);
    height: 400px;
}